.container {
  margin: 0 10px;
  margin-bottom: 5px;
  display: flex;
  border: #333 solid 1px;
  border-radius: 5px;
  background: #f4f4f4;
}

.left {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}

.left a {
  color: black;
  display: flex;
}

.left a h3 {
  margin-top: 7px;
  margin-left: 10px;
}

.left a img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
