@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #324851;
  --primary-color: #34675C;
  --light-color: #86AC41;
  --lighter-color: #7DA3A1;
}

body {
  background: #f4f4f4;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}